cryptography==41.0.3
fastapi[all]==0.101.0
pydantic==2.1.1
pyjwt==2.8.0
python-jose==3.3.0
requests==2.31.0
uvicorn[standard]==0.23.2
langchain==0.0.279
opaqueprompts==0.0.6
prometheus-client==0.17.1
openai==0.28.0
